body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
}

.low-usage {
    background-color: #2ecc71;
}

.medium-usage {
    background-color: #e67e22;
}

.high-usage {
    background-color: #c0392b;
}

#temp-container {
    text-align: center;
    height: 100px;
    width: 20%;
    margin: auto;
}

.temp-text {
    color: #fff;
    font-weight: 100;
    line-height: 100px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    margin: auto;
}

.temp {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;
    width: 200px;
    height: 60px;
    border: 1px solid #f1f1f1;
    background-color: #1f1f1f;
    border-radius: 15px;
}

.temp:hover {
    background-color: #f1f1f1;
    color: #1f1f1f;
    cursor: pointer;
}

.PSM-title {
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.PSM-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 20%;
    margin: auto;
}

.PSM-button {
    height: 40px;
    width: 150px;
    background-color: #f1f1f1;
    border: 1px solid black;
    cursor: pointer;
}

.PSM-button:hover {
    background-color: #ccc;
}

#current-city {
    position: relative;
    width: 200px;
    height: 30px;
    margin-left: 44%;
}